@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveShadow {
  0% {
    box-shadow: 10px 0 10px 0 #6ce5d9b9;
  }
  25% {
    box-shadow: 0 10px 10px 0 #6ce5d9b9;
  }
  50% {
    box-shadow: -10px 0 10px 0 #6ce5d9b9;
  }
  75% {
    box-shadow: 0 -10px 10px 0 #6ce5d9b9;
  }
  100% {
    box-shadow: 10px 0 10px 0 #6ce5d9b9;
  }
}

.custom-shadow {
  animation: moveShadow 6s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
}
